img{
    width:225px;
}

.card{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
}
.name{
    margin-top: 20px;
}
.job{
   font-weight: 100;
   font-size: small;
   margin-top: 10px;

}

@media only screen and (max-width: 640px) {
    .card{
      
        margin-top: 0px;
    }
    .name{
        margin-top: 10px;
    }
}