.App {
  text-align: left;
  margin: auto;
  width: 70%;
  font-family: 'Roboto', sans-serif;
}

.siteBody{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20%;
}

.rightColumn{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}


@media only screen and (max-width: 800px) {

  .siteBody{
    display: inline-block;
  }
  .rightColumn{
    display: grid;
  grid-template-columns: 1fr 1fr;
  }
  }


  @media only screen and (max-width: 360px) {
   

    .siteBody{
      display: inline-block;
    }
    .rightColumn{
      display: inline-block;
    
    }
    }
    